@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Orbitron', sans-serif;
    
    background-color: rgb(92, 174, 201);
}

.container{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 80vw;
}

.row{
    width: 75%;
    margin-top:10px;
}

.mainInput,
#link-form > div{
    font-size: 1.5rem;
    color:lightcoral;
    font-weight: bold;
}

#msg-form .btn{
    color:white;
    background-color: rgb(92, 174, 201);
    font-weight: bold;
}


#msg-show h1{
    margin-top:0;
    font-family: 'Indie Flower', cursive;
    color:lightcoral;
}

#msg-show a{
    font-size: 1.2rem;
}